<div class="container">
	<h1>LNK LST</h1>
	<form method="post">
		Title: <input type="text" value="<%= params[:title] %>" name="title" id="title" />
		URL: <input type="text" value="<%= h(params[:url]) %>" name="url" id="url" />
		<input type="submit" value="shorten" id="submit" />
	</form>
	<div class="clear"></div>
	<% if @shortcode %>
	<div class="result">
		Your shortened URL is:
		<a href="http://lnk-lst.heroku.com/<%= @shortcode %>">http://lnk-lst.heroku.com/<%= @shortcode %></a>
	</div>
	<% end %>
</div>
