<!DOCTYPE html>
<html>
<head>
	<title>LNK LST App</title>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
</head>
<body>
	<div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">LNK LST</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Link Lists made simple</h1>
        <p>Build a list of your favorite articles, worst webpages, or whatever! Then share that link list with your friends.</p>
        <!--<p><a class="btn primary large">Learn more &raquo;</a></p>-->
      </div>

		<%=yield %>

	</div>
</body>
</html>
