<div class="container">
	<h1>LNK LST</h1>
	<% if @hashurl %>
	<div class=list>
		Here's your LNK LST:
		<% @hashurl.each {|key, value| %>
			<a href="<%= value %>"><%= key %></a><br />
		<% } %>
	</div>
	<% end %>
</div>
