<div class="span16">
	<% if @hashurl %>
		<div class="row">
			<div class="span6 offset4">
			Here's your LNK LST:
			<% @hashurl.each {|key, value| %>
				<a href="<%= value %>"><%= key %></a><br />
			<% } %>
			</div>
		</div>
	<% end %>
</div>
